<section class="section-1">
  <h1>LOGO EM CONSTRUÇÃO</h1>
  <h2>Sistema Integrado de Visualização e Informações para Dados Ambientais</h2>
  <button (click)="navegarParaHome()">Ir para Home</button>
</section>
<section>
  <h2 class="sobre">Sobre o projeto</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem quidem
    voluptatum, exercitationem, culpa pariatur necessitatibus autem sequi
    quaerat sit sapiente cupiditate, repudiandae illum inventore voluptatem?
    Quam rerum dolorum tempore est. Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Libero nesciunt tempore quia et atque? Praesentium earum
    eum, iure, sunt minus possimus cupiditate qui cum consequuntur
    exercitationem asperiores quo totam ut. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Molestias sit nostrum, asperiores dolorum
    labore non eius fugiat ad natus tenetur voluptatem cum eveniet assumenda
    praesentium laudantium aliquid quis ab minima. Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Ipsum voluptas commodi enim a earum quae? Ad
    omnis veritatis repudiandae quae excepturi nesciunt officia? Sint porro,
    molestiae sunt dignissimos voluptatem atque?Lorem ipsum dolor sit, amet
    consectetur adipisicing elit. Expedita beatae nemo esse incidunt odit
    commodi, distinctio nostrum debitis maiores rerum libero sit architecto
    ducimus natus aperiam quos laborum corrupti illum. Lorem, ipsum dolor sit
    amet consectetur adipisicing elit. Soluta itaque ipsa nostrum illo aliquid
    saepe deserunt reprehenderit cum voluptatem! Quos beatae et saepe nisi rerum
    dicta voluptas eius atque amet?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Eligendi officiis odio cupiditate doloribus iste, in, ex
    quis atque tempora necessitatibus temporibus iure praesentium quibusdam,
    animi consectetur. Officia esse possimus nesciunt? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Exercitationem quam, corrupti blanditiis
    accusamus consequuntur quibusdam, inventore praesentium, non animi labore
    totam est? Ipsam inventore eius laborum deleniti ea! A, esse!
  </p>
</section>
