<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
</head>

<header>
  <div class="div_1_header">
    <h1>LOGO EM CONSTRUÇÃO</h1>
    <button class="AllButton" (click)="navegarParaLogin()">LogOut</button>
  </div>
  <div class="div_2_header">
    <button class="AllButton" (click)="navegarParaQueimadas()">
      Queimadas
    </button>
    <button class="AllButton" (click)="navegarParaQualidadeDoAr()">
      Qualidade do ar
    </button>
    <button class="AllButton" (click)="navegarParaDeslizamento()">
      Deslizamento
    </button>
  </div>
</header>
<body>
  <section class="InfoSection">
    <img class="queimadas" src="/assets/imagens/Qualidade do ar.jfif" alt="" />
    <div class="TXT">
      <h3>Perigos</h3>
      <p>
        A poluição do ar é um problema global que afeta diretamente a saúde
        humana e o equilíbrio ambiental. A exposição prolongada a um ar poluído,
        rico em partículas finas (PM2.5), gases tóxicos como dióxido de carbono
        (CO2), óxidos de nitrogênio (NOx) e compostos orgânicos voláteis (COVs),
        está associada a problemas respiratórios, doenças cardiovasculares,
        alergias e até câncer de pulmão. Crianças, idosos e pessoas com
        condições pré-existentes são especialmente vulneráveis. Além dos
        impactos na saúde, a poluição atmosférica prejudica o meio ambiente,
        contribuindo para a acidificação do solo e das águas, danos à vegetação
        e aceleração das mudanças climáticas. A poluição do ar também reduz a
        visibilidade, afeta os ecossistemas e contribui para o aquecimento
        global por meio do aumento do efeito estufa. Para mitigar os riscos, é
        essencial adotar políticas de redução de emissões industriais, aumentar
        o uso de energias renováveis e promover o transporte sustentável.
        Pequenas mudanças no dia a dia, como reduzir o uso de veículos
        particulares e optar por práticas mais ecológicas, também fazem
        diferença. A qualidade do ar está diretamente ligada à qualidade de
        vida, e protegê-la é uma responsabilidade coletiva.
      </p>
    </div>
  </section>
  <section class="Map-section">
    <div class="mb-3">
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Search"
      />
    </div>
    <div class="menu-container">
      <div class="menu-toggler" (click)="toggleMenu()">
        <img
          class="toogle-img"
          src="/assets/imagens/icons8-divisa-circulada-acima-100.png"
          [style.transform]="isRotated ? 'rotate(180deg)' : 'rotate(0deg)'"
          [style.transition]="'transform 0.5s ease'"
          (click)="toggleRotation()"
        />
      </div>
      <div class="menu" *ngIf="isMenuOpen">
        <img class="img-aviso" src="/assets/imagens/aviso2.png" alt="" />
      </div>
    </div>
    <div>
      <img
        class="inflamavel"
        src="/assets/imagens/icons8-qualidade-do-ar-100.png"
        alt=""
      />
      <img class="mapa" src="/assets/imagens/MAPA.png" alt="" />
    </div>
  </section>
</body>
<footer>
  <h4 class="footerTXT">Fale Conosco</h4>
  <div class="mb-3">
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      placeholder="Tire suas duvidas"
    ></textarea>
  </div>
  <button class="FooterButton">Enviar</button>
  <div class="div_icons">
    <a href="#"
      ><img class="icons" src="/assets/imagens/icons8-github-90.png"
    /></a>
    <a href="#"
      ><img class="icons" src="/assets/imagens/icon-facebook.svg"
    /></a>
    <a href="#"
      ><img class="icons" src="/assets/imagens/icon-instagram.svg"
    /></a>
  </div>
</footer>
